*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    background: url("../../img/backLogin.jpg") center center no-repeat;
    
}

.header{
    position: absolute;
    z-index: 1;
    padding: 20px 40px;
    height: 90px;
    display: block;
}

.gradient{
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0.0) 60%,
        rgba(0, 0, 0, 0.12) 100%,
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}