
.container {
    width: 100vw;
    height: 100vh;
    background: url("../../img/background.jpg") center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

