
.container {
    width: 100vw;
    height: 100vh;
    background: url("../../img/background.jpg") center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 410px){
    .container{
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
}
