img{
    display: block;
    width: 100%;
    max-height: 100%;
}


.main {
    width: 100%;
    height: 100vh;
    background: url("../../img/background.jpg") center center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section{
    background-color: black;
    border-top: 8px solid #222;
    padding: 70px 45px;
    z-index: 1;
    width: 100%;
}

.AccordionList{
    background-color: black;
    border-top: 8px solid #222;
    padding: 70px 45px;
    z-index: 1;
    width: 100%;

}

.containerHome{
    max-width: 1100px;
    max-height: 850px;
    margin: 0 auto;
}

.grid{
    display: grid;
    align-items: center;
    grid-template-columns: 1.1fr 1fr;
}

.grid h1{
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.grid h2{
    font-size: 1.6rem;
    font-weight: 400;
}

.img-tv{
    position: relative;
}

.img-tv img{
    position: relative;
    z-index: 1;
    
}

.img-tv2{
    position: relative;
}


.video-tv{
    position: absolute;
    top: 80px;
    left: 70px;
    height: auto;
    width: 80%;
}

.video-tv2{
    position: absolute;
    height: auto;
    top: 50px;
    left: 100px;
    max-width: 63%;
}

.left{
    order: 2;
}

.right{
    order: 1;
}

.headerText{
    text-align: center;
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.areaQuestion{
    width: 75%;
    margin: 3em auto;
}


@media(max-width: 950px){
    img{
        margin-top: -10px;
        display: block;
        max-width: 600px;
        z-index: 0;
    }
    .main{
        width: 100%;
        height: 100vh;
        background-color: black;
    }

    .section{
        background-color: black;
        border-top: 8px solid #222;
        padding: 70px 45px;
        z-index: 1;
    }

    .grid{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .grid h1{
        font-size: 2.5rem;
        text-align: center;
        line-height: 1.1;
        margin-bottom: 8px;
    }

    .grid h2{
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        margin: 15px 0 5px 0;
    }


    .img-tv img{
        position: relative;
    }

    .video-tv{
        position: absolute;
        top: 70px;
        left: 79px;
        height: auto;
        max-width: 80%;
    }
    
    .video-tv2{
        position: absolute;
        max-height: auto;
        top: 30px;
        left: 110px;
        max-width: 63%;
    }

    .text{
        z-index: 100;
    }
    .left{
        order: 1;
        z-index: 1;
    }
    
    .right{
        order: 2;
        z-index: 0;
    }
}


@media(max-width: 415px){
    img{
        margin-top: -10px;
        display: block;
        max-width: 600px;
        max-height: 450px;
    }
    .main{
        width: 100%;
        max-height: 532px;
        background-color: black;
    }

    .section{
        background-color: black;
        border-top: 8px solid #222;
        padding: 50px 20px;
        z-index: 1;
    }

    .grid{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .grid h1{
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    .grid h2{
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
    }

    .video-tv{
        position: absolute;
        top: 40px;
        left: 50px;
        height: auto;
        max-width: 80%;
    }
    
    .video-tv2{
        position: absolute;
        max-height: auto;
        top: 20px;
        left: 60px;
        max-width: 63%;
    }


    .left{
        order: 1;
        z-index: 1;
    }
    
    .right{
        order: 2;
    }
    .right img{
        margin-top: 0;
    }
    .text{
        z-index: 1;
    }

    .AccordionList{
        padding: 50px 0;
    }

    .headerText{
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.1;
        margin-bottom: 0.5rem;
    }

    .areaQuestion{
        width: 100%;
        margin: 3em auto;
    }
}